<!-- <app-test></app-test>
<app-user-list></app-user-list>
<app-login></app-login> 
<router-outlet></router-outlet> -->

<!-- <nav>
    <a routerLink="/departments" routerLinkActive="active">Departments</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
</nav>-->

<!-- <button (click)="getData(12)">Call Function</button> -->
<!-- <h1>{{displayValue}}</h1>
<input type="text" name="" #box (keyup)="getData(box.value)"> -->
<!-- 
<h1>Count:{{count}}</h1>

<button (click)="getData('add')">++</button>
<button (click)="getData('minus')">--</button> -->
<!-- <h3 *ngFor ="let item of users">{{item}}</h3> -->
<!-- 

<app-header></app-header>



<h1>Basic Form</h1>


<form action="" #basicForm="ngForm" (ngSubmit)="getData(basicForm)">
    <input type="text" name="userName" placeholder="Enter Your Name" ngModel>
    <br>
    <input type="text" name="userEmail" placeholder="Enter Your Email" ngModel>
    <br>
    <input type="text" name="userPassword" placeholder="Enter Your Password" ngModel>
    <br>
    <button type="submit">Submit</button>
</form>
 -->
 <!-- <p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
  </p> -->

  <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
  <button mat-raised-button color="primary"
    matBadge="8" matBadgePosition="before" matBadgeColor="accent">
  Action
</button> -->
<!-- <p>
    Button with a badge on the left
    <button mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      Action
    </button>
  </p> -->
<!-- <input type="text" #task placeholder="Input Your Task" ngModel="">
<button type="submit" (click)="Onclick(task.value)">Add TasK</button>

<ul *ngFor="let item of list">
    <li>{{item.name}}
        <button (click)="removeItem(item.id)">Remove</button>
    </li>
</ul> -->
<!-- 
<app-child [item]= "data"></app-child> -->


<!-- <app-hero></app-hero> -->



<form [formGroup]="profileForm"(ngSubmit)="onSubmit()">
  <label for="first-name">Name: </label>
<input id="first-name" type="text" formControlName="firstName">
  <label for="last-name">Name: </label>
<input id="last-name" type="text" formControlName="lastName">

<button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
